---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
<style>
  body { text-align: justify; }
  a { color: #4682B4 !important; }
  a:hover { color: #2a5f8a !important; }
</style>

<table style="width:100%; border:none; border-collapse:collapse;">
  <tr style="border:none;">
    <td style="border:none; vertical-align:top; padding:6px 0;">MATH Graduate Qualifying Exam Analysis Prep Session (<em>Leader &amp; Mentor</em>)</td>
    <td style="border:none; vertical-align:top; padding:6px 0; text-align:right; white-space:nowrap; color:grey;">Fall 2025 – Present</td>
  </tr>
  <tr style="border:none;">
    <td style="border:none; vertical-align:top; padding:6px 0;">MATH 500: Applied Analysis I (<em>Teaching Assistant</em>)</td>
    <td style="border:none; vertical-align:top; padding:6px 0; text-align:right; white-space:nowrap; color:grey;">Fall 2025</td>
  </tr>
  <tr style="border:none;">
    <td style="border:none; vertical-align:top; padding:6px 0;">MATH 578: Computational Mathematics II (<em>Grader</em>)</td>
    <td style="border:none; vertical-align:top; padding:6px 0; text-align:right; white-space:nowrap; color:grey;">Spring 2025</td>
  </tr>
  <tr style="border:none;">
    <td style="border:none; vertical-align:top; padding:6px 0;">MATH 151: Calculus I (<em>Recitation Instructor</em>)</td>
    <td style="border:none; vertical-align:top; padding:6px 0; text-align:right; white-space:nowrap; color:grey;">Spring 2023</td>
  </tr>
  <tr style="border:none;">
    <td style="border:none; vertical-align:top; padding:6px 0;">MATH 230: Introduction to Discrete Mathematics (<em>Teaching Assistant</em>)</td>
    <td style="border:none; vertical-align:top; padding:6px 0; text-align:right; white-space:nowrap; color:grey;">Spring 2023</td>
  </tr>
  <tr style="border:none;">
    <td style="border:none; vertical-align:top; padding:6px 0;">MATH 252: Introduction to Differential Equations (<em>Teaching Assistant</em>)</td>
    <td style="border:none; vertical-align:top; padding:6px 0; text-align:right; white-space:nowrap; color:grey;">Fall 2022</td>
  </tr>
</table>
